apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: [$RESOURCES]
patchesStrategicMerge:
- patch-alertmanager-secret-sealed.yaml
- patch-alertmanager-service.yaml
- patch-prometheus-service.yaml
